body {
  background: #f6f6fa;
  padding: 40px 40px 40px 40px;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: 1399px;
  margin: 0 auto;
}

/* Main content */

.main-content {
  padding-left: 88px;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

/* Sidebar */

.sidebar {
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 300px;
}

.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

/* Contacts */

.contacts-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-link {
  text-decoration-line: underline;
  font-weight: 400;
  line-height: 171%;
  color: #2979ff;
  font-size: 14px;
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 4px;
}

.contacts-container {
  margin-bottom: 40px;
}

/* Skills container */

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list {
  padding-left: 24px;
}

.skills-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #161d2a;
}

/* Main content */

.my-profession {
  font-weight: 700;
  font-size: 14px;
  line-height: 121%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 122%;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.my-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}

.my-info {
  margin-bottom: 40px;
}

/* My projects */

.my-projects-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 123%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-projects-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #000;
}

.my-projects-list {
  padding-left: 16px;
}

.my-projects-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-decoration: underline;
  color: #005fff;
}

.my-projects-item-tech {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}

.my-projects {
  margin-bottom: 40px;
}

/* Work experience */

.work-experience-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 123%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.work-experience-company {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.company-name {
  color: #6d9bf5;
}

.work-experience-period {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.work-experience-period-separator {
  color: #000;
}

.work-experience-duties-list {
  padding-left: 16px;
}

.work-experience-duties-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}

.work-experience-container {
  margin-bottom: 12px;
}

.work-experience {
  margin-bottom: 40px;
}

/* Education */

.education-title {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.university {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-bottom: 8px;
}

.specialty {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
}

.education-period {
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
}

.education-period-separator {
  color: #000;
}
